# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Data files
N-CMAPSS/
*.h5
*.npy
*.npz

# Other files and folders


# Executables
*.swf
*.air
*.ipa
*.apk

# Exceptions
!cmapss.png
!turbo_engine.jpg
!EA_log/*

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
